################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MongoProject.WebApp/bin/Debug/netcoreapp3.1
/MongoProject.WebApp/obj
