@page
@model EditModel
@{
    ViewData["Title"] = "Edit Kit";
}

<h1 class="text-center">Edit</h1>

<h4 class="text-center">Component</h4>
<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Kit.Id" />
            <div class="form-group">
                <label asp-for="Kit.Name" class="control-label"></label>
                <input type="text" asp-for="Kit.Name" class="form-control" />
                <span asp-validation-for="Kit.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kit.Price" class="control-label"></label>
                <input type="number" asp-for="Kit.Price" class="form-control" />
                <span asp-validation-for="Kit.Price" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn btn-success mr-3" />
                <a class="btn btn-primary" asp-page="./Details" asp-route-id="@Model.Kit.Id">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}