@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Makerspace inventory</h1>
    
    <div class="container pt-5">
        <div class="row mt-5">
            <div class="col-sm-6">
                <div class="card border-success">
                    <h5 class="card-header bg-success text-white">Components</h5>
                    <div class="card-body">
                        <p class="card-text">X pieces of Y types</p>
                        <p class="card-text">Low quantity: Y types</p>
                        <a class="stretched-link" asp-page="/Components/Index"></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card border-success">
                    <h5 class="card-header bg-success text-white">Kits</h5>
                    <div class="card-body">
                        <p class="card-text">X types</p>
                        <p class="card-text">Enough components for X types</p>
                        <a class="stretched-link" asp-page="/Kits/Index"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
